@page
@model Mintic.App.Presentacion.Pages.CrudRol.DeleteModel

@{
    ViewData["Title"] = "EliminarRol";
}

<h1>Eliminar Rol</h1>

<div class="alert alert-danger" role="alert">
  Está a punto de eliminar este registro, está seguro de hacerlo?
</div>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol.NombreRol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol.NombreRol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol.CodigoRol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol.CodigoRol)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Rol.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
