@page
@model Mintic.App.Presentacion.Pages.CrudGrupo.CreateModel

@{
    ViewData["Title"] = "CrearGrupos";
}

<h1>Crear Grupos</h1>

<div class="alert alert-info" role="alert">
   Complete el formulario y luego haga clic en el botón crear para guardar los datos.
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Grupo.Formador" class="control-label"></label>
                <select asp-for="FormadorID" class="form-control" asp-items="Model.ListaFormadores">
                    <option>Seleccione un Formador</option>
                </select>
                <span asp-validation-for="Grupo.Formador" class="text-danger">@Model.Mensaje</span>

            </div>

            <div class="form-group">
                <label asp-for="Grupo.Tutor" class="control-label"></label>
                <select asp-for="TutorID" class="form-control" asp-items="Model.ListaTutores">
                    <option>Seleccione un Tutor</option>
                </select>
                <span asp-validation-for="Grupo.Tutor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grupo.CodigoGrupo" class="control-label">Código del grupo</label>
                <input asp-for="Grupo.CodigoGrupo" class="form-control" placeholder="Ej:G-55"/>
                <span asp-validation-for="Grupo.CodigoGrupo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary"/>
                <a asp-page="Index" class="btn btn-secondary">Atras</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
